/* Main Start */

/* Hero Section Start */
.hero-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 60px 20px 0;
}

.hero-container .hero-text {
    margin: 50px;
}

.hero-container .hero-text h1 {
    font-size: 60px;
    font-weight: bold;
    color: var(--primary-color);
    text-transform: uppercase;
}

.hero-container .hero-img-container {
    position: relative;
    flex: 1;
    width: 100%;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.hero-container .hero-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.hero-container .hero-img-container button {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
    background-color: var(--primary-color);
    color: var(--background-2-light-color);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.hero-container .hero-img-container button:hover {
    background-color: #d6a900;
}

@media (max-width: 768px) {
    .hero-container .hero-text h1 {
        font-size: 36px;
    }
}

/* Hero Section End */
/* About Section Start */
.about {
    padding: 100px 20px;
    background-color: var(--background-2-light-color);
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    gap: 40px;
    flex-wrap: wrap;
}

.about-container .about-text {
    flex: 1;
    min-width: 280px;
    max-width: 500px;
}

.about-container .about-img {
    flex: 1;
    min-width: 280px;
    max-width: 600px;
}

.about-container .about-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column-reverse;
        text-align: center;
        padding: 0;
    }
}

/* About Section End */
/* Taste Section Start */
.taste {
    padding: 100px 20px;
}

.taste-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
}

.taste-container .taste-text {
    flex: 1;
    margin-right: 40px;
    min-width: 280px;
    max-width: 500px;
}

.taste-container .taste-features {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: var(--primary-color);
    padding: 60px 40px;
    border-radius: 15px;
}

.taste-container .taste-features .taste-feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.taste-container .taste-features .taste-feature h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--background-2-light-color);
    margin-right: 20px;
    background-color: var(--heading-color);
    padding: 10px 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taste-container .taste-features .taste-feature h4 {
    font-size: 25px;
    font-weight: bold;
    color: var(--heading-color);
    margin-bottom: 10px;
}

.taste-container .taste-features .taste-feature p {
    font-size: 16px;
    color: var(--p-color);
}

@media (max-width: 768px) {
    .taste-container {
        flex-direction: column;
        text-align: center;
    }

    .taste-container .taste-text {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .taste-container .taste-features {
        flex-direction: column;
        align-items: center;
    }

    .taste-features .taste-feature {
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        margin: 10px 0;
    }

    .taste-feature h3 {
        margin-bottom: 15px;
    }

    .taste-features .taste-feature .feature-text h4 {
        font-size: 20px;
    }

    .taste-features .taste-feature .feature-text p {
        font-size: 14px;
    }
}

/* Taste Section End */
/* Menu Section Start */
.menu {
    padding: 100px 20px;
    background-color: var(--background-2-light-color);
}

.menu-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-text {
    flex: 1;
    min-width: 200px;
    max-width: 300px;
    margin-right: 20px;
}

.menu-img-container {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 60px 40px;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.menu-img-container .menu-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.menu-img-container .menu-item-container img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}

.menu-img-container .menu-item-container .menu-img-text {
    margin-top: 15px;
    background-color: var(--background-2-light-color);
    padding: 15px;
    border-radius: 15px;
}

.menu-img-text h4 {
    font-size: 24px;
    font-weight: bold;
    color: var(--heading-color);
    margin-bottom: 10px;
}

.menu-img-text p {
    font-size: 16px;
    color: var(--p-color);
}

@media (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        text-align: center;
    }

    .menu-text {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .menu-img-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Menu Section End */
/* Community Section Start */
.community {
    padding: 100px 20px;
}

.community-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.community-container .community-people {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 30px 0;
}

.community-container .community-people img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 50% 50% 40% 60% / 60% 40% 60% 40%;

}

.community-people .community-person-text {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

.community-people .community-person-text h5 {
    font-size: 20px;
    font-weight: bold;
    color: var(--heading-color);
    margin-bottom: 5px;
}

.community-people .community-person-text p {
    font-size: 16px;
    color: var(--p-color);
}

@media (max-width: 768px) {
    .community-people {
        flex-direction: column;
        align-items: center;
    }
}

/* Community Section End */

/* Main End */